/*  
    padding: 0;
    margin: 0;
}
.emnav_menu {
    display: flex;
    justify-content: space-between;
    margin: 0cm 0.5cm;
    height: 1.3cm;
    padding-top: 0.7cm;
}
.emdiv_menu ul {
    display: flex;
    gap: 0.3cm;
}
.emdiv_menu li {
    list-style: none;
}

.emdiv_menu button {
    border-radius: 0.4cm;
    border: 0;
    background-color: black;
    color: white;
    height: 1cm;
    width: 6cm;
    font-style: italic;
    font-family: tahoma;
    font-weight: 600;
}
.logo_class p {
    display: flex;
    gap: 0.5cm;
    color: white;
    padding: 0.3cm 0.2cm;
}
.emdiv_menu a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-family: tahoma;
    font-weight: 600;
    font-size: 0.35cm;

}
.emdiv_menu img {
    width: 0.5cm;
}
.emnav_logo {
    margin-top: -0.112cm;
}
.emnav_logo img {
    width: 5cm;
}
.logo_class {
    background-color: black;
    border-radius: 0.9cm;
    margin-top: -0.29cm;
}
.emsection_menu {
    display: flex;
    justify-content: center;
    height: 1.3cm;
    line-height: 2.8;
    font-size: 0.47cm;
    font-family: Heebo, sans-serif;
    color: white;
    background-color:     rgb(55, 82, 163);
}
.emsection_menu a {
    color: white;
}